- edit ||= false
- collapsed = session[:proposal_permissions].nil? # && @proposal.errors.empty?
= subtitle :proposal_permissions, collapsed
.section
  %small#proposal_permissions_intro{ hidden_if(!collapsed) }
    = "By default only you will have access to the proposal. You can change proposal permissions later." unless edit
  #proposal_permissions{ hidden_if(collapsed) }
    .radio_box
      = radio_button_tag "proposal[access]", "Private", @proposal.access == "Private", :onclick => "$('people').hide()"
      Keep it private, do not share with others
    .radio_box
      = radio_button_tag "proposal[access]", "Public",  @proposal.access == "Public", :onclick => "$('people').hide()"
      Share it with everyone
    .radio_box
      = radio_button_tag "proposal[access]", "Shared",  @proposal.access == "Shared", :onclick => "$('people').show()"
      Share it with the following people
    #people{ hidden_if(@proposal.access != "Shared") }
      %div{ :style => "padding: 6px 0px 0px 20px" }
        - for user in @users
          .check_box
            -# Preserve state of the checkboxes if the form gets redrawn on errors.
            = check_box_tag "users[]", user.id, @proposal.permissions.map(&:user_id).include?(user.id) || (params[:users] && params[:users].include?(user.id.to_s))
            = user.full_name
